@{
    ViewData["Title"] = "סניפים";
}


<body>


    <div class=profit>
        <h1>סניפים</h1>

        <h5>בני ברק</h5>
        <p>
            רבי עקיבא 106 בני ברק, טלפון: 03-5707688

            *סניף עודפים* רבי עקיבא 37 בני ברק, טלפון: 03-6577514
        </p>


        <h5>ירושלים</h5>
        <p>
            יחזקאל 2 ירושלים, טלפון: 02-6748729

            ירמיהו 50 ירושלים, טלפון: 02-6590658
        </p>



        <h5>בית שמש</h5>
        <p>
            מנחם פרוש 12, טלפון: 02-5355727
        </p>





        <h5>שעות פתיחה</h5>
        <p>
            ימים א-ה בין השעות 10:00 עד 21:00

            יום ו בין השעות 10:00 עד 12:30

            שבת סגור

        </p>
        <br />
        <br />
        <br />
        <br />
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
                integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
                crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
                crossorigin="anonymous"></script>




</body>


