@model sharedAngular.Models.NewOrder

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>NewOrder</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreditNum" class="control-label"></label>
                <input asp-for="CreditNum" class="form-control" />
                <span asp-validation-for="CreditNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpireMonth" class="control-label"></label>
                <input asp-for="ExpireMonth" class="form-control" />
                <span asp-validation-for="ExpireMonth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpireYear" class="control-label"></label>
                <input asp-for="ExpireYear" class="form-control" />
                <span asp-validation-for="ExpireYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OwnName" class="control-label"></label>
                <input asp-for="OwnName" class="form-control" />
                <span asp-validation-for="OwnName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdNum" class="control-label"></label>
                <input asp-for="IdNum" class="form-control" />
                <span asp-validation-for="IdNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CW" class="control-label"></label>
                <input asp-for="CW" class="form-control" />
                <span asp-validation-for="CW" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
